@import url(https://fonts.googleapis.com/css?family=Marcellus+SC);
body{
  background-color: black;
   background-image: url(img/stained2.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-position: down;
}
h1 {
  display: none;
  font-family: 'Marcellus SC', sans-serif;
  color: white;
  text-align: center;
  font-size: 1px;
  margin-bottom: 0px;
}
.myButton {
  display: inline-block;
  left: 50%;
	background-color:#7d6c5b;
  opacity: 0.8;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	color:black;
	font-family:'Marcellus SC';
	font-size:25px;
	padding:14px 27px;
  margin-bottom: 30px;
	text-decoration:none;
  text-align: center;
  //*-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;*//
}
.myButton:hover {
	background-color:white;
}
.myButton:active {

	top:0pz;
}
.wrap{
  text-align: center;
}
.total{
  margin-top:21%;
}
//*
#about {
  	position:relative;
  margin: 0 auto;*//

}

//*#story {
  position: relative;
  margin: 0 auto;
}
#soundtrack {
  position: relative;
  margin: 0 auto;
}*//
