body{
  background-color: black;
   //*background-image: url(img/about.jpg);*//
}

ul{
  font-family: 'Marcellus SC', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7d6c5b;
}
li{
  float: left;
}
li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
li a:hover:not(.active){
  background-color: #111;
}
.active{
  background-color: #4D4238;

}
h1{
  font-family: 'Marcellus SC', sans-serif;
  color:#7d6c5b;
  text-align: center;
  font-size: 75px;
  margin: 30px;
}

.myButton {
  display: inline-block;
  left: 50%;
	background-color:#7d6c5b;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	color:black;
	font-family:'Marcellus SC';
	font-size:25px;
	padding:14px 27px;
  margin-bottom: 40px;
	text-decoration:none;
  text-align: center;
  -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}

.myButton:hover {
	background-color:white;
}
.myButton:active {

	top:1px;
}
.wrap{
  text-align: center;
}
